@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './reset.css';


body {
  font-family: Poppins, serif;
  font-weight: 400;
  color: #fff;

}

.wrapper {
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(26,14,1,1) 100%);
  width: 100%;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}


.header {
  padding: 44px 60px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.logo {
  font-size: 29px;
  font-weight: 800;
  text-transform: uppercase;
}

.nav {
  float: right;
  width: 50%;
}

.nav__list-items {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.nav__list-items li a {
  display: inline-block;
}

.nav__list-items li a:hover:not(.active):not(.btn) {
  transition: border-bottom 0.2s ease-in;
  border-bottom: 5px solid #DC7000;
}

.nav__list-items li a.active::after {
  content: '';
  display: inline-block;
  width: 34px;
  height: 5px;
  position: relative;
  top: 14px;
  right: 65px;
  background-color: #DC7000;
  border-radius: 20px;
}

.nav__list-items li a.active::before {
  content: '';
  width: 5px;
  height: 5px;
  display: inline-block;
  position: relative;
  top: 14px;
  left: 25px;
  border-radius: 50%;
  background-color: #DC7000;
}

.nav__list-items li a.btn {
  padding: 10px 28px;
  font-size: 14px;
  border-radius: 6px;

  background-color: #FA9021;
  transition: background-color 0.5s ease-in;
}

.nav__list-items li a.btn:hover {
  cursor: pointer;
  background-color: #c2580c;
}

.hero {
  padding-top: 30px;
  position: relative;
  padding-bottom: 178px;
}

.hero__info {
  max-width: 530px;
}

.hero__info h2 {
  font-size: 20px;
  font-weight: 700;
  color: #E87D0E;
  padding-bottom: 16px;
}

.hero__info h1 {
  font-size: 50px;
  font-weight: 700;
  padding-bottom: 27px;
}

.hero__info p {
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 50px;
}

.hero__btn {
  font-weight: 500;
  padding: 15px 30px;
  background: linear-gradient(112.96deg, rgb(250, 131, 5) 1.518%,rgb(251, 158, 60) 117.454%);
  border-radius: 40px;
  transition: scale 0,7s ease-in;
}

.hero__btn:hover {
  scale: 1.1;
}

.hero__info img {
  position: absolute;
  top: -150px;
  right: 110px;
}


/* block trending */
.trending {
  margin-top: 132px;
  margin-bottom: 130px;
}

.trending h3 {
  font-weight: 700;
  font-size: 31px;
}

.trending a {
  font-weight: 500;
  font-size: 20px;

  padding: 10px 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.11);
  float: right;

  transition: all 500ms ease;
}

.trending a:hover {
  scale: 1.1;
}

.trending_cards {
  margin-top: 58px;
  display: flex;
  justify-content: space-between;
}

.trending_cards span {
  margin-top: 25px;
  display: block;

  text-align: center;
}

.trending_cards img {
  border-radius: 20px;
}

.trending_cards span img {
  position: relative;
  right: 9px;
}

.big-text {
  font-weight: 600;
  font-size: 35px;
  text-align: center;
  line-height: 187%;
  width: 800px;
  margin-bottom: 67px;
}

.banner h3 {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 30px;
}

.banner p {
  line-height: 1.87;
  max-width: 545px;
  margin-bottom: 45px;
}

.banner img {
  width: 100%;
  border: 5px;
  margin-bottom: 157px;
}
